<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <title>To do list</title>
  </head>
  <body>
    <header>
      <% if (task == null) { %>
      <h1>To do list</h1>
      <form id="new-task-form" action="/create" method="post">
        <input
          autocomplete="off"
          type="text"
          name="task"
          id="task"
          placeholder="What do you have planned?"
        />
        <button type="submit" id="add-btn">Add task</button>
      </form>
      <% } else { %>
      <h1><a href="/">To do list</a></h1>
      <form id="new-task-form" action="/updateTask/<%= task._id %>" method="post">
        <input autocomplete="off" type="text" name="task" id="task" value="<%= task.task %>" />
        <button type="submit" id="update-btn" value="Update">Update</button>
      </form>
      <% } %>
    </header>

    <main>
      <section id="tasks-container">
        <ul>
          <% tasksList.forEach((task) => { %>
          <li class="check-<%= task.check %>">
            <div>
              <a  href="/check/<%= task._id %>" class="check-<%= task.check %>"><%= task.task %> </a>
              <span>Created in: <%= task.date.toLocaleDateString('pt-BR') %></span>
            </div>
            <div>
              <a class="edit-btn" href="/getById/<%= task._id %>/update"
                ><i class="bi bi-pencil-square"></i
              ></a>
              <a class="delete-btn" href="/getById/<%= task._id %>/delete"
                ><i class="bi bi-trash"></i
              ></a>
            </div>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>

    <% if (taskDelete != null) { %>
    <section id="modal">
      <div id="card">
        <div id="head-modal">
          <h2>Confirm</h2>
          <a href="/" id="close-modal"><i class="bi bi-x"></i></a>
        </div>

        <hr />
        <p>Do you realy want to delete the task: <i><%= taskDelete.task %></i>?</p>
        <div id="btns">
          <a id="not-btn" href="/">No</a>
          <a id="yes-btn" href="/deleteTask/<%= taskDelete._id %>">Yes</a>
        </div>
      </div>
    </section>
    <% } %>
    <script src="script.js"></script>
  </body>
</html>
